
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Oswald:wght@300&display=swap');

.root{
    width: max-content;
    min-width: max-content;
    

}
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 251, 239);

}

.logo{
    justify-content: baseline;
    font-size: 75px;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
    color: #282120;
}

.links{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #282120;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-inline: 50px;
    text-indent: 50px;
}
a{
    text-decoration: none;
    color: #282120;
}

.search{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    border: 20px;
    margin-bottom: 30px;
    margin-inline: 50px;
}
.searchbr{
    border-radius: 20px;
}
.searchbut{
    border-radius: 20px;
    border: none;
    background: none;
}

.search-icon{
    max-width: 15px;
}